<form {{action 'save' todo on="submit"}}>
  <p>{{errorMessage}}</p>
  <p>
    <label>To Do Description</label>
    {{input value=todo.description}}
  </p>
  <p><label>User</label>
    {{#x-select value=todo.user}}
      {{#x-option value=user}}{{user.firstName}}{{/x-option}}
    {{/x-select}}
  </p>
  <button type="submit" value="Add todo" class="button">Add todo</button>
  <button {{action "cancel"}}>Cancel</button>
</form>