<form {{action 'save' user on="submit"}}>
  <p>{{errorMessage}}</p>
  <p>
    <label>First Name:
      {{input value=user.firstName}}
    </label>
  </p>
  <p>
    <label>Last Name:
      {{input value=user.lastName }}
    </label>
  </p>
  <p> 
    <label>Email:
      {{input value=user.email}}
    </label>
  </p>
  <p> 
    <label>Password:
      {{input value=user.password}}
    </label>
  </p>
  <input type="submit" value="Save"/>
  <button {{action "cancel"}}>Cancel</button> 
</form>