<p>Name: {{model.firstName}} {{model.lastName}}</p>
<p>Email: {{model.email}}</p>

<h3>To Dos:</h3>
<ul>
  {{#each model.toDos as |toDo|}}
    <li>
      {{#link-to 'users.user.to-dos.to-do' toDo}}
        {{toDo.description}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>
<p>Add new {{link-to 'to-do item' 'users.user.to-dos.new' model}}</p>