<p>Name: {{link-to model.fullName 'users.user' model}}</p>
<p>Email: {{model.email}}</p>
{{link-to 'edit-profile' 'users.edit' model}}

<h2>{{model.toDos.length}} To Dos</h2>
<table>
  <thead>
    <tr> 
      <th>Name</th> 
      <th>Pomodoros</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
<tbody>
    {{#each model.toDos as |todo|}}
      <tr>
        <td class="user-td">{{link-to todo.description "to-dos.to-do" todo}}</td>
        <td id="home-table-name">{{todo.pomodoros.length}}</td>
        <td class="user-td">{{link-to "Edit" "to-dos.edit" todo}}</td>
        <td class="user-td"><a href="#" {{action "delete" todo}}>Delete</a></td>
      </tr>
    {{/each}}
  </tbody>
</table>
<p>Add new {{link-to 'to-do item' 'to-dos.new'}}</p>

{{outlet}}