<h1>Users</h1>
<h2>Site Population: {{model.length}}</h2>
<table>
  <thead>
    <tr> 
      <th>Name</th> 
      <th></th>
    </tr>
  </thead>
<tbody>
    {{#each model as |user|}}
      <tr>
        <td id="home-table-name">{{link-to user.fullName "users.user" user}}</td>
        <td id="home-table-edit">{{link-to "Edit" "users.edit" user}}</td>
        <td id="home-table-delete"><a href="#" {{action "delete" user}}>Delete</a></td>
      </tr>
    {{/each}}
  </tbody>
</table>
{{link-to 'new user' 'users.new'}}