<p>Name: {{model.firstName}} {{model.lastName}}</p>
<p>Email: {{model.email}}</p>

<h3>To Dos:</h3>
<ul>
  {{#each model.toDos as |toDo|}}
    <li>
      {{#link-to 'user.to-dos' toDo.user toDo}}
        {{toDo.description}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>
<br>
<p>Add new {{link-to 'to-do item' 'user.to-dos' model}}</p>

{{outlet}}